@use "define";
@use "mixin";

.news {
    &_wrap {
        margin: 28px auto 0 auto;
        width: 1040px;
        max-width: 100%;

        @include mixin.mq(sp) {
            width: 310px;
        }
    }

    &_card {
        padding: 22px 0 24px 0;
        width: 100%;
        display: flex;
        border-bottom: 1px solid #888888;

        @include mixin.mq(sp) {
            display: block;
        }

        &_image {
            width: calc(100% * (260 / 1040));
            margin-right: auto;
            overflow: hidden;

            img {
                transition: all 1s ease 0s;

                &:hover {
                    transform: scale(1.2, 1.2);
                    transition: all 1s ease 0s;
                }
            }

            @include mixin.mq(sp) {
                width: 100%;
                max-width: 340px;
                margin-left: auto;
            }
        }

        &_composition {
            width: calc(100% * (740 / 1040));
            margin: auto auto auto 0;

            @include mixin.mq(sp) {
                width: 100%;
                max-width: 340px;
                margin-top: 24px;
                margin-left: auto;
            }

            &_date {
                font-size: 14px;
            }

            &_title {
                font-size: 18px;
                font-weight: bold;
                margin-top: 16px;

                @include mixin.mq(sp) {
                    font-size: 16px;
                }
            }

            &_text {
                margin-top: 24px;
                color: #888888;
                font-size: 14px;
            }
        }
    }
}