@use "define";
@use "mixin";

// all
body {
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", sans-serif;
    font-size: 16px;
    line-height: 1.6;
    background: #fff;
    color: define.$color_text;
}

.container {
    max-width: 1200px;
    width: 100%;
    height: inherit;
    margin: auto;
}

a {
    // inheritは親の要素を引き継ぐ
    color: inherit;
    text-decoration: none;
}

.section_title_area {
    height: 86px;
}

.section_title {
    position: relative;
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    padding-bottom: 14px;

    &:after {
        position: absolute;
        bottom: 0px;
        left: 50%;
        transform: translate(-50%, 0);
        content: '';
        width: 60px;
        height: 4px;
        /*下線の太さ*/
        background: define.$color_main;
        /*下線の色*/
    }

    @include mixin.mq(sp) {
        font-size: 26px;
        padding-bottom: 8px;

        &:after {
            bottom: -8px;
            width: 42px;
            height: 3px;
        }
    }
}