@use "define";

// all
body {
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", sans-serif;
    font-size: 16px;
    line-height: 1.6;
    background: #fff;
    color: define.$color_text;
}

.container {
    max-width: 1200px;
    width: 100%;
    height: inherit;
    margin: auto;
}

a {
    // inheritは親の要素を引き継ぐ
    color: inherit;
    text-decoration: none;
}