@use "define";
@use "mixin";

.header {
    // pixelperfectの時はコメントアウト
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;

    background-color: define.$color_main;
    height: 100px;
    text-align: center;
    box-shadow: 0 3px 3px rgba(#000, 0.16);

    // padding: 30px 0 30px 0;
    @include mixin.mq(sp) {
        height: 60px;
    }

    &_wrap {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
        height: inherit;

        @include mixin.mq(sp) {
            flex-wrap: wrap;
        }
    }

    &_left {
        width: 205px;
        height: 40px;


        &_image {
            // imgは基本inlineblockだがそれだと余計な余白がある場合が多い
            display: block;
            width: 100%;
        }
    }

    // &_right {
    //     margin-left: auto;
    // }

    &_nav_ul {
        width: 384px;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;

        &_items {

            // 最初の要素以外という意味
            // &:not(:first-child) {
            //     margin-left: 40px;
            // }

            line-height: 40px;
        }

        @include mixin.mq(sp) {
            display: none;
        }
    }

    &_menu {
        font-family: define.$font_english;
        position: relative;
        margin-bottom: 8px;
        color: #FFF;

        &:after {
            position: absolute;
            bottom: -8px;
            left: 0;
            content: '';
            width: 0;
            /*下線の太さ*/
            height: 2px;
            /*下線の色*/
            background: define.$color_accent;
            transition: all 0.3s ease 0s;
        }

        &:hover:after {
            width: 100%;
        }
    }
}