@use "mixin";
@use "define";

.modal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11;
    background: rgba(#000000, 0.3);
    display: none;
    transition: display 0.3s ease 0s;

    &.is-show {
        display: block;
    }

    &_card {
        width: 900px;
        max-width: calc(100% - 10px * 2);
        margin: 300px auto 0 auto;
        padding: 60px;
        background: #FFFFFF;
        box-shadow: 0 0 3px rgba(#000000, 0.16);
        position: relative;

        @include mixin.mq(sp) {
            margin-top: 150px;
            padding: 30px;
        }

        &_title {
            display: block;
            font-size: 24px;
            font-weight: bold;
            text-align: center;
            margin-bottom: 24px;
            position: relative;

            &::after {
                content: "";
                position: absolute;
                top: 48px;
                left: 50%;
                transform: translateX(-50%);
                width: 100px;
                height: 2px;
                background: define.$color_main;
            }
        }

        &_wrap {
            height: 340px;
            overflow-y: auto;
            margin-top: 40px;
        }

        &_article {
            width: 100%;
            margin: 0 auto;

            &_header {
                font-size: 20px;
                font-weight: bold;
                padding-left: 20px;
                position: relative;

                &::after {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 0;
                    transform: translateY(-50%);
                    width: 4px;
                    height: 20px;
                    background: define.$color_main;
                }
            }

            &_text {
                margin-top: 16px;
                padding-left: 20px;
            }
        }

        &_button {
            margin: 60px auto 0 auto;
            color: #FFFFFF;
            font-weight: bold;
            text-align: center;
            line-height: 48px;
            width: 176px;
            height: 48px;
            border-radius: 8px;
            background: define.$color_main;
            box-shadow: 0 3px 6px rgba(#000000, 0.16);
            cursor: pointer;
        }

        &_close {
            position: absolute;
            top: -20px;
            right: -20px;
            width: 40px;
            height: 40px;
            transform: translate(50% 50%);
            cursor: pointer;
        }
    }
}