@use "mixin";
@use "define";

.contact {
    background: url(../img/contact-bg.png) no-repeat center center / cover;
    padding: 60px 0;

    @include mixin.mq(sp) {
        padding: 40px 0;
    }

    &_area {
        width: 960px;
        max-width: 100%;
        margin-inline: auto;
        background: #FFFFFF;
        border-radius: 12px;

        &_header {
            background: url(../img/contact1.png) center center / cover;
            color: #FFFFFF;
            padding-top: 68px;
            padding-bottom: 55px;
            text-align: center;
            border-radius: 12px 12px 0 0;

            @include mixin.mq(sp) {
                padding-top: 48px;
                padding-bottom: 36px;
            }

            &_text {
                margin-top: 19px;
                font-weight: 500;

                @include mixin.mq(sp) {
                    margin-top: 14px;
                    margin-inline: 16px;
                    font-size: 14px;
                    text-align-last: left;
                    line-height: calc(20/14);
                }
            }
        }

    }

    &_form {
        margin-inline: auto;
        padding: 60px 0;
        width: 720px;
        max-width: calc(100% - 12px * 2);

        @include mixin.mq(sp) {
            padding-top: 34px;
            padding-bottom: 40px;
        }
    }

    &_box {
        display: flex;
        align-items: center;

        &:not(:first-child) {
            margin-top: 32px;

            @include mixin.mq(sp) {
                margin-top: 25px;
            }
        }

        @include mixin.mq(sp) {
            display: block;
        }

        &.is-radio {
            margin-top: 24px;

            @include mixin.mq(sp) {
                margin-top: 25px;
            }
        }

        &_label {
            width: 128px;
            padding: 4px 0;
            font-weight: bold;

            .is_reqired {
                position: relative;

                &::after {
                    position: absolute;
                    content: "必須";
                    top: 50%;
                    right: -52px;
                    transform: translateY(-50%);
                    width: 40px;
                    height: 16px;
                    color: #FFFFFF;
                    font-size: 12px;
                    font-weight: bold;
                    line-height: 16px;
                    text-align: center;
                    background: #FF4646;
                    border-radius: 2px;
                }
            }
        }

        &_text {
            margin-left: 60px;
            width: calc(100% - 60px - 128px);
            height: 32px;
            color: #F3F3F3;
            font-weight: 500;

            @include mixin.mq(sp) {
                margin-left: 0;
                width: 100%;
                height: 26px;
                font-size: 14px;
            }


            [type="text"] {
                width: 100%;
                padding: 4px 0 4px 12px;
                border-bottom: 1px solid #707070;

                @include mixin.mq(sp) {
                    padding: 5px 0 0 0;
                }

                &:hover,
                &:active,
                &:focus,
                &:focus-visible {
                    border-bottom: 1px solid #4973FF;
                    box-shadow: 0 5px 4px rgba(73, 115, 255, 0.5);
                }
            }

            [type="email"] {
                width: 100%;
                padding: 4px 0 4px 12px;
                border-bottom: 1px solid #707070;

                @include mixin.mq(sp) {
                    padding: 5px 0 0 0;
                }

                &:hover,
                &:active,
                &:focus,
                &:focus-visible {
                    border-bottom: 1px solid #4973FF;
                    box-shadow: 0 5px 4px rgba(73, 115, 255, 0.5);
                }
            }
        }

        &_select {
            margin-left: 60px;
            width: 178px;
            height: 40px;
            border: 1px solid #707070;
            font-weight: 500;
            position: relative;

            @include mixin.mq(sp) {
                margin-top: 6px;
                margin-left: 0;
                width: 100%;
                height: 38px;
                font-size: 14px;
            }

            &:hover {
                box-shadow: 0 0 5px rgba(73, 115, 255, 0.5);
            }

            &::after {
                position: absolute;
                content: "";
                top: 46%;
                right: 15px;
                width: 8px;
                height: 8px;
                border-left: 2px solid #3E3E3E;
                border-bottom: 2px solid #3E3E3E;
                transform: translateY(-50%) rotate(-45deg);
            }

            select {
                width: 100%;
                padding: 8px 0 8px 12px;
            }
        }

        &_radio {
            margin-left: 60px;

            @include mixin.mq(sp) {
                margin-left: 0;
                margin-top: 4px;
            }

            &_label {
                position: relative;
                padding-left: 20px;

                &:not(:first-child) {
                    margin-left: 35px;
                }

                &_input {
                    position: absolute;
                }

                span {
                    position: absolute;
                    top: 5px;
                    left: 0;
                    width: 12px;
                    height: 12px;
                    border: 1px solid #707070;
                    border-radius: 50%;

                    &::after {
                        position: absolute;
                        content: "";
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width: 6px;
                        height: 6px;
                        border-radius: 50%;
                        background: #3B69FF;
                        opacity: 0;
                    }
                }

                &:hover {
                    span {
                        border: 1px solid #3B69FF;
                        box-shadow: 0 0 6px rgba(73, 115, 255, 0.2);
                    }
                }

                &:active {
                    span {
                        border: 1px solid #3B69FF;
                        background: #4973FF33;
                    }
                }
            }

            [type="radio"]:checked+span::after {
                opacity: 1;
            }
        }
    }

    &_textareabox {
        margin-top: 17px;

        @include mixin.mq(sp) {
            margin-top: 21px;
        }

        &_label {
            width: 128px;
            padding: 4px 0;
            font-weight: bold;
        }

        &_text {
            @include mixin.mq(sp) {
                margin-top: 7px;
            }

            textarea {
                width: 100%;
                height: 200px;
                border: 1px solid #707070;
                resize: vertical;

                @include mixin.mq(sp) {
                    height: 160px;
                }

                &:hover,
                &:active,
                &:focus,
                &:focus-visible {
                    border-bottom: 1px solid #4973FF;
                    box-shadow: 0 5px 4px rgba(73, 115, 255, 0.5);
                }
            }
        }
    }

    &_policy {
        margin-top: 29px;

        @include mixin.mq(sp) {
            margin-top: 22px;
        }

        p {
            font-size: 18px;
            font-weight: bold;

            @include mixin.mq(sp) {
                font-size: 16px;
            }
        }

        &_label {
            padding-left: 40px;
            position: relative;
            vertical-align: middle;

            @include mixin.mq(sp) {
                padding-left: 38px;
            }

            &_input {
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0;
            }

            span {
                position: absolute;
                top: 0;
                left: 0;
                width: 20px;
                height: 20px;
                background: #FFF;
                border: 1px solid define.$color_main;

                @include mixin.mq(sp) {
                    width: 18px;
                    height: 18px;
                }

                &::after {
                    content: "";
                    position: absolute;
                    top: 3px;
                    left: 1px;
                    width: 16px;
                    height: 8px;
                    border-left: 2px solid #3B69FF;
                    border-bottom: 2px solid #3B69FF;
                    transform: rotate(-45deg);
                    opacity: 0;

                    @include mixin.mq(sp) {
                        width: 16px;
                        height: 8px;
                    }
                }
            }

            &:hover {
                span {
                    border: 1px solid #3B69FF;
                    box-shadow: 0 0 5px rgba(73, 115, 255, 0.2);
                }
            }

            &:active {
                span {
                    border: 1px solid #3B69FF;
                    background: #4973FF33;
                }
            }
        }

        [type="checkbox"]:checked+span::after {
            opacity: 1;
        }
    }

    &_submit {
        margin-top: 35px;

        @include mixin.mq(sp) {
            margin-top: 29px;
        }

        [type="submit"] {
            display: block;
            background: #B2B2B2;
            width: 173px;
            height: 50px;
            color: #FFFFFF;
            font-size: 18px;
            font-weight: 600;
            line-height: 50px;
            text-align: center;
            letter-spacing: calc(0.45em / 18);
            border-radius: 10px;
            box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
            cursor: default;

            @include mixin.mq(sp) {
                font-size: 16px;
                width: 165px;
                height: 48px;
                line-height: 48px;
                margin-inline: auto;
            }

            &.is-active {
                background: #FFAA3B;
                cursor: pointer;
            }

            &.is-active:hover {
                background: #F18900;
            }
        }
    }
}

.contact_message {
    font-weight: 500;
    display: none;

    &.is-error {
        color: #F00;
    }
}