@use "mixin";
@use "define";

.news {
    background: define.$color_gray;
    padding-top: 120px;
    padding-bottom: 120px;

    @include mixin.mq(sp) {
        position: relative;
        height: 574px;
    }

    &_title {
        text-align: center;
    }

    &_area {
        padding: 69px 60px 40px 60px;
        background: #FFFFFF;
        box-shadow: 0px 5px 12px rgba(62, 62, 62, 0.2);

        @include mixin.mq(sp) {
            padding: 48px 0 40px 0;
            position: absolute;
            top: -40px;
            left: 50%;
            width: calc(100% - 16px * 2);
            transform: translateX(-50%);
        }

        &_content {
            margin-top: 66px;

            @include mixin.mq(sp) {
                margin-top: 44px;
            }
        }

        &_article {
            display: flex;
            padding-top: 32px;
            padding-bottom: 32px;
            color: define.$color_main;

            @include mixin.mq(sp) {
                display: block;
                padding: 14px 16px 14px 16px;
                position: relative;
            }

            &:hover {
                background: #4973FF1A;
            }

            &:first-child {
                border-top: 1px solid #CECDCD;
            }

            border-bottom: 1px solid #CECDCD;

            &.is-article1 {
                padding-top: 32px;
                padding-bottom: 41px;

                @include mixin.mq(sp) {
                    padding-top: 2px;
                    padding-bottom: 10px;
                }
            }

            &.is-article2,
            &.is-article3 {
                padding-top: 33px;
                padding-bottom: 33px;

                @include mixin.mq(sp) {
                    padding-top: 11px;
                    padding-bottom: 10px;
                }
            }

            &_wrap {
                display: flex;
                margin-block: auto;
                width: 259px;
                height: 100%;
                align-items: center;

                &.is-wrap1 {
                    padding-top: 10px;
                }
            }

            &_date {
                margin-right: auto;
                font-size: 18px;
                font-weight: 400;
                letter-spacing: calc(0.45em / 18);
                line-height: 26px;

                @include mixin.mq(sp) {
                    font-size: 14px;
                    letter-spacing: calc(0.35em / 14);
                    margin-right: 0;
                }
            }

            &_tag {
                margin-left: 39px;
                font-size: 14px;
                font-weight: 500;
                letter-spacing: calc(0.35em / 14);
                width: 120px;
                height: 30px;
                text-align: center;
                line-height: 26px;
                border: 2px solid #3B69FF;
                border-radius: 50px;

                @include mixin.mq(sp) {
                    margin-left: 24px;
                    margin-right: auto;
                    font-size: 12px;
                    letter-spacing: calc(0.3em / 12);
                    line-height: 16px;
                    width: 80px;
                    height: 20px;
                }
            }

            &_text {
                width: calc(100% - 40px - 259px - 83px);
                margin-left: 40px;
                font-size: 18px;
                font-weight: 500;
                letter-spacing: calc(0.45em / 18);
                line-height: calc(28/18);

                @include mixin.mq(sp) {
                    margin-top: 5px;
                    width: calc(100% - 40px);
                    font-size: 14px;
                    margin-left: 0;
                    letter-spacing: 0;
                    line-height: calc(20/14);
                }

                &.is-text2,
                &.is-text3 {
                    line-height: 42px;

                    @include mixin.mq(sp) {
                        line-height: calc(20/14);
                    }
                }
            }

            &_icon {
                margin-left: 56px;
                margin-block: auto;

                @include mixin.mq(sp) {
                    position: absolute;
                    top: 40%;
                    right: 16px;
                    width: 13px;
                    height: 22px;
                }
            }
        }

        &_button {
            margin: 40px auto 0 auto;
            padding-left: 3px;
            display: block;
            color: define.$color_main;
            width: 236px;
            height: 64px;
            font-size: 20px;
            font-weight: 600;
            line-height: 62px;
            text-align: center;
            letter-spacing: calc(4em / 20);
            border: 1px solid #707070;
            transition: all 0.3s ease 0s;

            @include mixin.mq(sp) {
                width: 268px;
                height: 54px;
                line-height: 52px;
                font-size: 18px;
                letter-spacing: calc(3.6em / 18);
            }

            &:hover {
                color: #FFFFFF;
                background: define.$color_main;
                border: 1px solid define.$color_main;
            }
        }
    }
}