@use "mixin";
@use "define";

.qa {
    padding: 60px 0 120px 0;
    background: url(../img/qa-bg.png) no-repeat center center / cover;

    &_title {
        text-align: center;
    }

    &_accordion {
        margin-left: auto;
        padding: 16px;
        width: 612px;
        background: #FFFFFF;
        border-radius: 4px;

        &:first-child {
            margin-top: 60px;
        }

        &:not(:first-child) {
            margin-top: 32px;
        }

        &_header {
            display: flex;

            &_logo {
                width: 24px;
                height: 24px;
                text-align: center;
                line-height: 24px;
                border-radius: 50%;
                background: define.$color_safe;
                color: #FFFFFF;
                font-weight: 600;
            }

            &_title {
                margin-left: 16px;
                margin-right: auto;
                font-weight: bold;
            }

            &_icon {
                width: 17px;
                height: 17px;
                // position: relative;

                // &_bar1,
                // &_bar2 {
                //     position: absolute;
                //     top: 50%;
                //     left: 50%;
                //     transform: translate(-50%, -50%);
                //     width: 17px;
                //     height: 2px;
                //     background: #3B69FF;
                //     transition: all 0.3s ease 0s;
                // }

                // &_bar2 {
                //     transform: translate(-50%, -50%) rotate(90deg);
                // }

                // &.is-open &_bar2 {
                //     transform: translate(-50%, -50%) rotate(0);
                // }
                background: url(../img/plus.svg) no-repeat center center / contain;

                &.is-open {
                    background: url(../img/minus.svg) no-repeat center center / contain;
                }
            }
        }

        &_answer {
            margin-top: 16px;
            width: 100%;
            padding: 16px;
            background: #3B69FF33;
            border-radius: 4px;
            display: none;
        }
    }
}