@use "mixin";
@use "define";

.main_visual {
    padding-top: calc(100% * 648 /1280);
    background: url(../img/mv.png) no-repeat center center / contain;
    position: relative;

    @include mixin.mq(sp) {
        padding-top: 222px;
        padding-bottom: 230px;
        position: static;
        background: url(../img/mv.png) no-repeat top left / cover;
    }

    &_textarea {
        position: absolute;
        top: 35.3%;
        left: 50%;
        margin-right: 40px;

        @include mixin.mq(sp) {
            position: static;
            margin-right: 0;
        }

        &_title {
            font-size: 32px;
            font-weight: bold;
            letter-spacing: calc(0.02em / 32);

            @include mixin.mq(sp) {
                font-size: 24px;
                letter-spacing: 0;
                line-height: calc(40/24);
            }
        }

        &_text {
            margin-top: 27px;
            font-size: 18px;
            font-weight: bold;
            letter-spacing: calc(0.45em / 18);
            line-height: calc(28/18);

            @include mixin.mq(sp) {
                margin-top: 20px;
                font-size: 14px;
                letter-spacing: 0;
                line-height: calc(20/14);
            }
        }

        &_button {
            margin-top: 38px;

            @include mixin.mq(sp) {
                margin-top: 27px;
                text-align: center;
            }

            a {
                display: inline-block;
                color: rgba(255, 255, 255, 1);
                width: 282px;
                height: 50px;
                border-radius: 10px;
                box-shadow: 0px 3px 5px rgba(62, 62, 62, 0.2);
                font-size: 18px;
                font-weight: bold;
                line-height: 50px;
                text-align: center;
                letter-spacing: calc(0.45em / 18);
                background: #FFAA3B;

                @include mixin.mq(sp) {
                    width: 222px;
                    height: 48px;
                    font-size: 16px;
                    line-height: 48px;
                    letter-spacing: 0;
                }

                &:hover {
                    background: #F18900;
                }
            }

        }
    }
}