@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* Set core html defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  width: 100%;
  height: auto;
}

/* Natural flow and rhythm in articles by default */
/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: blur(10px);
}

/* フォームリセット */
input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

input[type=submit],
input[type=button],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

body {
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  background: #fff;
  color: #333333;
}

.container {
  max-width: 1200px;
  width: 100%;
  height: inherit;
  margin: 0 auto;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .container {
    padding-left: 24px;
    padding-right: 24px;
  }
}
@media screen and (max-width: 767px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

.section_title_area {
  height: 86px;
}

.section_title {
  position: relative;
  text-align: center;
  font-size: 48px;
  font-weight: bold;
  padding-bottom: 14px;
}
.section_title:after {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, 0);
  content: "";
  width: 60px;
  height: 4px;
  /*下線の太さ*/
  background: #3F51B5;
  /*下線の色*/
}
@media screen and (max-width: 767px) {
  .section_title {
    font-size: 26px;
    padding-bottom: 8px;
  }
  .section_title:after {
    bottom: -8px;
    width: 42px;
    height: 3px;
  }
}

.totop {
  position: fixed;
  right: 24px;
  bottom: 24px;
  width: 60px;
  height: 60px;
}

.header {
  background-color: #3F51B5;
  height: 100px;
  text-align: center;
}
.header_wrap {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  height: inherit;
}
@media screen and (max-width: 767px) {
  .header_wrap {
    flex-wrap: wrap;
  }
}
.header_left {
  width: 205px;
  height: 40px;
}
.header_left_image {
  display: block;
  width: 100%;
}
.header_nav_ul {
  width: 384px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}
.header_nav_ul_items {
  line-height: 40px;
}
@media screen and (max-width: 767px) {
  .header_nav_ul {
    display: none;
  }
}
.header_menu {
  position: relative;
  margin-bottom: 8px;
  color: #FFF;
}
.header_menu:after {
  position: absolute;
  bottom: -8px;
  left: 0;
  content: "";
  width: 100%;
  height: 0px;
  /*下線の太さ*/
  background: #E81919;
  /*下線の色*/
}
.header_menu:hover:after {
  height: 2px;
}

.top {
  width: 100%;
  height: 600px;
  background-image: url(../img/mainvisual.png);
  background-size: cover;
  position: relative;
}
.top_section {
  position: absolute;
  top: 48.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}
.top_section_title {
  font-size: 64px;
  font-weight: bold;
}
.top_section_subtitle {
  margin-top: 5px;
  font-size: 24px;
  font-weight: bold;
}
.top_section_button {
  margin-top: 30px;
  background-color: #3F51B5;
  width: 384px;
  height: 72px;
  border-radius: 8px;
  color: #FFFFFF;
  font-size: 24px;
  font-weight: bold;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.card {
  padding-top: 85px;
  padding-bottom: 120px;
  background-color: #EFEFEF;
}
@media screen and (max-width: 767px) {
  .card {
    padding-top: 50px;
    padding-bottom: 60px;
  }
}
.card_wrap {
  margin-top: 86px;
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 767px) {
  .card_wrap {
    margin-top: 42px;
  }
}
.card_item {
  width: calc(33.3333333333% - 16px);
  padding: 15px 15px 13px 16px;
  border-radius: 4px;
  background-color: #fff;
}
.card_item img {
  display: block;
}
@media (min-width: 1200px) {
  .card_item:not(:nth-child(3n+1)) {
    margin-left: 24px;
  }
  .card_item:nth-child(n+4) {
    margin-top: 25px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .card_item {
    width: calc(50% - 12px);
  }
  .card_item:not(:nth-child(2n+1)) {
    margin-left: 24px;
  }
  .card_item:nth-child(n+3) {
    margin-top: 24px;
  }
}
@media screen and (max-width: 767px) {
  .card_item {
    width: 100%;
    margin-left: 0;
  }
  .card_item:not(:first-child) {
    margin-top: 24px;
  }
}
.card_item_title {
  padding-top: 10px;
  font-size: 20px;
  font-weight: bold;
  color: #6F7579;
}
.card_item_text {
  padding-top: 6px;
  font-weight: bold;
  color: #6F7579;
  line-height: 1.5;
}

.news {
  padding-top: 85px;
  padding-bottom: 120px;
}
@media screen and (max-width: 767px) {
  .news {
    padding-top: 50px;
    padding-bottom: 60px;
  }
}
.news_line {
  width: 800px;
  max-width: 100%;
  margin: 66px auto 0 auto;
}
@media screen and (max-width: 767px) {
  .news_line {
    margin-top: 30px;
  }
}
.news_line_li:not(:first-child) {
  border-top: 1px solid #707070;
}
.news_line_li {
  list-style: none;
  display: flex;
  padding-top: 19px;
  padding-bottom: 13px;
}
@media screen and (max-width: 767px) {
  .news_line_li {
    display: block;
  }
}
.news_line_li_meta {
  display: flex;
  width: 185px;
}
.news_line_li_date {
  width: 105px;
  height: 32px;
  text-align: left;
  line-height: 32px;
}
.news_line_li_label a {
  display: inline-block;
  width: 80px;
  height: 32px;
  text-align: center;
  line-height: 32px;
  color: #FFF;
  font-weight: bold;
  background-color: #666666;
  border-radius: 4px;
}
.news_line_li_label2 a {
  display: inline-block;
  width: 80px;
  height: 32px;
  text-align: center;
  line-height: 32px;
  color: #FFF;
  font-weight: bold;
  background-color: #3F51B5;
  border-radius: 4px;
}
.news_line_li_label3 a {
  display: inline-block;
  width: 80px;
  height: 32px;
  text-align: center;
  line-height: 32px;
  color: #FFF;
  font-weight: bold;
  background-color: #E81919;
  border-radius: 4px;
}
.news_line_li_text {
  width: calc(100% - 185px);
  padding-left: 20px;
  padding-top: 3px;
}
@media screen and (max-width: 767px) {
  .news_line_li_text {
    width: 100%;
    padding-top: 0;
    padding-left: 0;
    margin-top: 6px;
  }
}
.news_line_li_text a {
  text-align: left;
  line-height: 1.25;
}
.news_more {
  margin-top: 36px;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .news_more {
    margin-top: 30px;
  }
}
.news_more a {
  color: #E81919;
  font-weight: bold;
  position: relative;
  padding-right: 14px;
}
.news_more a::after {
  content: "";
  position: absolute;
  background: url(../img/news-arrow.png) no-repeat center center/contain;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 7px;
  height: 11px;
}

.price {
  padding-top: 85px;
  padding-bottom: 120px;
  background-color: #EFEFEF;
}
@media screen and (max-width: 767px) {
  .price {
    padding-top: 50px;
    padding-bottom: 60px;
  }
}
.price_wrap {
  display: flex;
  margin-top: 60px;
}
@media screen and (max-width: 767px) {
  .price_wrap {
    display: block;
  }
}
.price_image {
  width: 37.8333333333%;
}
@media screen and (max-width: 767px) {
  .price_image {
    width: 100%;
    margin-top: 24px;
  }
}
.price_table {
  margin-left: auto;
  width: 58.8333333333%;
  table-layout: fixed;
}
@media screen and (max-width: 767px) {
  .price_table {
    width: 100%;
    margin-top: 24px;
  }
}
.price_table table {
  border-collapse: collapse;
  font-weight: bold;
  width: 100%;
}
.price_table table th {
  height: 58px;
  color: #FFFFFF;
  text-align: center;
  vertical-align: middle;
  padding: 0 24px;
  background-color: #999999;
  border: 1px solid #707070;
}
.price_table table th:nth-child(1) {
  width: 170px;
}
@media screen and (max-width: 767px) {
  .price_table table th:nth-child(1) {
    width: 100px;
  }
}
.price_table table td {
  height: 58px;
  text-align: right;
  vertical-align: middle;
  padding: 0 24px;
  border: 1px solid #707070;
  background-color: #FFFFFF;
}
.price_table table td strong {
  color: #E81919;
  line-height: 1.2;
}
.price_table table td span {
  display: block;
  font-size: 13px;
  color: #333333;
  line-height: 1.2;
}
.price_table_note {
  font-size: 14px;
  -moz-text-align-last: left;
       text-align-last: left;
}
.price_table_note a {
  font-weight: bold;
  text-decoration: underline;
}

.access {
  padding-top: 85px;
  padding-bottom: 120px;
}
@media screen and (max-width: 767px) {
  .access {
    padding-top: 50px;
    padding-bottom: 60px;
  }
}
.access_map {
  width: 800px;
  max-width: 100%;
  margin: 60px auto 0 auto;
}
.access_map_frame {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 50%;
}
.access_map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.access_map_adress {
  display: flex;
  margin-top: 16px;
}
.access_map_adress_title {
  width: 108px;
  font-weight: bold;
}
.access_map_route {
  display: flex;
}
.access_map_route_title {
  width: 108px;
  font-weight: bold;
}
.access_button {
  margin-top: 30px;
  text-align: center;
}
.access_button a {
  display: block;
  margin: 0 auto;
  color: #FFFFFF;
  font-weight: bold;
  width: 304px;
  height: 56px;
  line-height: 56px;
  border-radius: 8px;
  background-color: #3F51B5;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  position: relative;
}
.access_button a::after {
  content: "";
  position: absolute;
  background: url(../img/button-arrow.png) no-repeat center center/contain;
  top: 50%;
  right: 18px;
  width: 17px;
  height: 16px;
  transform: translateY(-50%);
}

.contact {
  padding-top: 85px;
  padding-bottom: 120px;
  background-color: #EFEFEF;
}
@media screen and (max-width: 767px) {
  .contact {
    padding-top: 50px;
    padding-bottom: 60px;
  }
}
.contact_wrap {
  width: 800px;
  max-width: 100%;
  margin: 60px auto 0 auto;
  padding: 60px;
  background-color: #fff;
}
@media screen and (max-width: 767px) {
  .contact_wrap {
    padding: 20px;
  }
}
.contact_box {
  display: flex;
}
@media screen and (max-width: 767px) {
  .contact_box {
    display: block;
  }
}
.contact_box:not(:first-child) {
  margin-top: 60px;
}
@media screen and (max-width: 767px) {
  .contact_box:not(:first-child) {
    margin-top: 20px;
  }
}
.contact_box_label {
  width: 160px;
  text-align: left;
  font-weight: bold;
}
@media screen and (max-width: 767px) {
  .contact_box_label {
    width: 100%;
  }
}
.contact_box_label label.is_reqired {
  display: inline-block;
  position: relative;
}
.contact_box_label label.is_reqired::after {
  content: "必須";
  position: absolute;
  top: calc(100% + 8px);
  left: 0;
  font-size: 14px;
  color: #fff;
  background-color: #E81919;
  border-radius: 4px;
  text-align: center;
  padding: 2px 8px;
  line-height: 1;
}
@media screen and (max-width: 767px) {
  .contact_box_label label.is_reqired::after {
    top: 50%;
    left: calc(100% + 8px);
    transform: translateY(-50%);
    width: 44px;
  }
}
.contact_box_text {
  width: calc(100% - 160px);
}
@media screen and (max-width: 767px) {
  .contact_box_text {
    width: 100%;
  }
}
.contact_box_text [type=text] {
  box-shadow: none;
  border: 1px solid #707070;
  background-color: #FFF;
  padding: 10px 16px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: 14px;
  width: 100%;
}
.contact_box_text [type=email] {
  box-shadow: none;
  border: 1px solid #707070;
  background-color: #FFF;
  padding: 10px 16px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: 14px;
  width: 100%;
}
.contact_box_text select {
  box-shadow: none;
  border: 1px solid #707070;
  background-color: #FFF;
  padding: 10px 16px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: 14px;
  width: 100%;
  background: #fff url(../img/select-arrow.png) no-repeat right 12px center/17px 14px;
}
.contact_box_text textarea {
  box-shadow: none;
  border: 1px solid #707070;
  background-color: #FFF;
  padding: 10px 16px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: 14px;
  width: 100%;
  height: 240px;
  resize: none;
}
.contact_radio {
  margin-top: 32px;
  /* オリジナルボタンを設置するため、paddngでテキストの左側にスペースを確保 */
  /* 非表示にしたデフォルトのラジオボタンにチェックが入ると、オリジナルボタンのチェックも透明を解除して表示する */
}
@media screen and (max-width: 767px) {
  .contact_radio {
    margin-top: 20px;
  }
}
.contact_radio span {
  cursor: pointer;
  display: inline-block;
  padding-left: 26px;
  position: relative;
  margin-right: 36px;
  /* 擬似要素beforeとafterを共通でセット */
  /* beforeをラジオボタンの枠として利用するため、デザインを適用する */
  /* afterは枠の中のチェックマークとして利用するため、デザインを適用する
  デフォルトのチェックマークはopacity:0で透明にしておく*/
}
@media screen and (max-width: 767px) {
  .contact_radio span {
    margin-right: 20px;
  }
}
.contact_radio span::before, .contact_radio span::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.contact_radio span::before {
  left: 0;
  width: 20px;
  height: 20px;
  background: #FFF;
  border: 1px solid #707070;
  border-radius: 50%;
}
.contact_radio span::after {
  left: 5px;
  width: 10px;
  height: 10px;
  background: #3F51B5;
  border-radius: 50%;
  opacity: 0;
}
.contact_radio [type=radio]:checked + span::after {
  opacity: 1;
}
.contact_policy {
  text-align: center;
  margin-top: 64px;
  /* オリジナルボタンを設置するため、paddngでテキストの左側にスペースを確保 */
  /* 非表示にしたデフォルトのチェックボックスにチェックが入ると、オリジナルボタンのチェックも透明を解除して表示する */
}
@media screen and (max-width: 767px) {
  .contact_policy {
    margin-top: 30px;
  }
}
.contact_policy span {
  cursor: pointer;
  display: inline-block;
  padding-left: 49px;
  position: relative;
  /* 擬似要素beforeとafterを共通でセット */
  /* beforeをcheckboxの枠として利用するため、デザインを適用する */
  /* afterは枠の中のチェックマークとして利用するため、デザインを適用する
          デフォルトのチェックマークはopacity:0で透明にしておく*/
}
.contact_policy span::before, .contact_policy span::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.contact_policy span::before {
  left: 0;
  width: 25px;
  height: 25px;
  background: #FFF;
  border: 1px solid #707070;
}
.contact_policy span::after {
  left: 0;
  width: 25px;
  height: 25px;
  background: transparent url(../img/checkbox.png) no-repeat center center/contain;
  opacity: 0;
}
.contact_policy span a {
  font-weight: bold;
  text-decoration: underline;
}
.contact_policy [type=checkbox]:checked + span::after {
  opacity: 1;
}
.contact_submit {
  text-align: center;
  margin-top: 30px;
}
@media screen and (max-width: 767px) {
  .contact_submit {
    margin-top: 20px;
  }
}
.contact_submit [type=submit] {
  background: #3F51B5 url(../img/button-arrow.png) no-repeat right 12px center/17px 16px;
  width: 304px;
  display: inline-block;
  font-weight: bold;
  color: #FFF;
  padding: 14px;
  border-radius: 8px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-family: inherit;
}

.footer {
  color: #FFFFFF;
  background: linear-gradient(to bottom, #666666, #333333);
  padding-top: 60px;
  padding-bottom: 24px;
}
@media screen and (max-width: 767px) {
  .footer {
    padding-top: 30px;
    padding-bottom: 12px;
  }
}
.footer_wrap {
  display: flex;
  flex-wrap: nowrap;
}
@media screen and (max-width: 767px) {
  .footer_wrap {
    display: block;
  }
}
.footer_left {
  width: 205px;
  margin-right: auto;
}
@media screen and (max-width: 767px) {
  .footer_left {
    width: 100%;
    margin: 0 auto;
  }
}
.footer_left_image {
  width: 205px;
  height: 40px;
}
@media screen and (max-width: 767px) {
  .footer_left_image {
    margin: 0 auto;
  }
}
.footer_left_image img {
  display: block;
}
.footer_left dl {
  width: 205px;
}
@media screen and (max-width: 767px) {
  .footer_left dl {
    margin: 0 auto;
  }
}
.footer_left_adress {
  display: flex;
  font-size: 14px;
  margin-top: 32px;
}
@media screen and (max-width: 767px) {
  .footer_left_adress {
    margin-top: 16px;
  }
}
.footer_left_tel {
  display: flex;
  font-size: 14px;
  margin-top: 14px;
}
@media screen and (max-width: 767px) {
  .footer_left_tel {
    padding: auto;
  }
}
.footer_center {
  width: 384px;
}
@media screen and (max-width: 767px) {
  .footer_center {
    width: 100%;
    margin: 16px auto 0 auto;
  }
}
.footer_center_ul {
  display: flex;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .footer_center_ul {
    justify-content: center;
  }
}
.footer_center_ul_item:not(:first-child) {
  margin-left: 40px;
}
@media screen and (max-width: 767px) {
  .footer_center_ul_item:not(:first-child) {
    margin-left: 20px;
  }
}
.footer_right {
  width: 122px;
  margin-left: auto;
}
@media screen and (max-width: 767px) {
  .footer_right {
    width: 100%;
    margin: 16px auto 0 auto;
  }
}
.footer_right_sns {
  display: flex;
  justify-content: flex-end;
}
@media screen and (max-width: 767px) {
  .footer_right_sns {
    justify-content: center;
  }
}
.footer_right_sns_icon {
  width: 30px;
}
.footer_right_sns_icon:not(:first-child) {
  margin-left: 16px;
}
.footer_copyright {
  margin-top: 40px;
  font-size: 14px;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .footer_copyright {
    margin-top: 20px;
  }
}/*# sourceMappingURL=style.css.map */