@use "../global" as global;

.c-section-bgbox {
    width: 100%;
    height: 582px;
    transform: skewY(10deg);
    //    background: #EDF3F8;
    background: #888;

    @include global.mq(sp) {
        height: 788px;
    }
}