@use "../global" as global;

.c-viewmore-button {
    &--link {
        padding-right: 138px;
        font-family: global.$ff-en;
        font-size: 32px;
        font-weight: 500;
        font-style: italic;
        color: #FFFFFF;
        position: relative;

        @include global.mq(tab) {
            padding-right: 97px;
            font-size: 20px;
        }

        &::after {
            content: "";
            position: absolute;
            top: 57%;
            left: 168px;
            width: 95px;
            height: 2px;
            transform: translateY(-50%);
            background: #FFFFFF;
            transition: all 0.3s ease;

            @include global.mq(tab) {
                left: 105px;
                width: 65px;
                top: 68%;
            }
        }

        &::before {
            content: "";
            position: absolute;
            top: 43%;
            left: 246px;
            width: 18px;
            height: 2px;
            transform: translateY(-50%) rotateZ(36deg);
            background: #FFFFFF;
            z-index: 1;
            transition: all 0.3s ease;

            @include global.mq(tab) {
                left: 156px;
                width: 16px;
                top: 50%;
            }
        }

        span::after {
            content: "";
            position: absolute;
            top: 43%;
            right: -3px;
            width: 54px;
            height: 54px;
            border: 3px solid global.$accent-color-yellow;
            border-radius: 50%;
            transform: translateY(-50%);

            @include global.mq(tab) {
                top: 44%;
                right: 0px;
                width: 42px;
                height: 42px;
                border: 2px solid global.$accent-color-yellow;
            }
        }

        &:hover {
            &::before {
                left: 180px;
            }

            &::after {
                width: 90px;
            }
        }
    }

    &--diffcolor {
        color: global.$text-color;

        @include global.mq(sp) {
            color: global.$main-color;
        }

        a {
            color: global.$text-color;

            @include global.mq(sp) {
                color: global.$main-color;
            }

            &::after {
                background: global.$text-color;

                @include global.mq(sp) {
                    background: global.$main-color;
                }
            }

            &::before {
                background: global.$text-color;

                @include global.mq(sp) {
                    background: global.$main-color;
                }
            }

            span::after {
                background: global.$accent-color-yellow;
            }
        }
    }
}