body {
    font-family: YuGothic, "游ゴシック体", "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", sans-serif;
    font-size: 16px;
    line-height: 1.6;
}

h1 {
    font-size: 24px;
    font-weight: bold;
}

.content {
    width: 475px;
    margin: auto;
}