@use "../global" as global;

.p-category-aside {
    &__newlist {
        &__title {
            @include global.font(20, 24, 0, 700);
        }

        a {
            display: block;

            &:not(:first-child) {
                margin-top: 16px;

                @include global.mq(sp) {
                    margin-top: 20px;
                }
            }
        }

        &__card {
            display: flex;

            &__wrap {
                margin-top: 18px;

                @include global.mq(sp) {
                    margin-top: 22px;
                }
            }

            &__image {
                width: calc(100% * 100 / 300);
                margin-right: auto;

                @include global.mq(sp) {
                    width: calc(100% * 120 / 335);
                }

                img {
                    width: 100%;
                    height: calc(100vw * 100 / 1280);
                    max-height: 100px;
                    object-fit: cover;

                    @include global.mq(sp) {
                        height: calc(100vw * 90 / 375);
                    }
                }
            }

            &__article {
                width: calc(100% * 190 / 300);
                margin-left: auto;

                @include global.mq(sp) {
                    width: calc(100% * 203 / 335);
                }

                &__info {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    margin-top: 2px;

                    @include global.mq(sp) {
                        margin-top: 0;
                    }

                    &__type {
                        @include global.font(12, 20, 0, 500);
                        padding: 2px 11px;
                        color: global.$accent-color-red;
                        border: global.$accent-color-red solid 1px;
                        margin-right: auto;

                        @include global.mq(tab) {
                            padding: 1px 6px;
                        }

                        @include global.mq(sp) {
                            @include global.font(12, 20, 0, 500);
                            padding: 2px 11px;
                        }
                    }

                    &__date {
                        @include global.font(14, 24, 0, 500);
                        margin-left: auto;
                        color: #888888;

                        @include global.mq(tab) {
                            @include global.font(12, 24, 0, 500);
                        }

                        @include global.mq(sp) {
                            @include global.font(14, 24, 0, 500);
                        }
                    }
                }

                &__title {
                    width: 100%;
                    margin-top: 8px;
                    @include global.font(14, 20, 0, 700);

                    @include global.mq(sp) {
                        margin-top: 6px;
                        @include global.font(14, 20, 0, 700);
                    }
                }
            }
        }
    }

    &__list {
        margin-top: 80px;

        @include global.mq(sp) {
            margin-top: 60px;
        }

        &__title {
            @include global.font(20, 29, 0, 700);
        }

        &__text {
            width: 100%;
            border-bottom: #DDDDDD solid 1px;

            &:first-child {
                border-top: #DDDDDD solid 1px;
            }

            &__wrap {
                margin-top: 16px;
            }

            &--link {
                display: inline-block;
                width: 100%;
                @include global.font(16, 24, 0, 700);
                padding-top: 16px;
                padding-bottom: 16px;
                padding-left: 40px;
                position: relative;

                @include global.mq(tab) {
                    @include global.font(14, 24, 0, 700);
                }

                @include global.mq(sp) {
                    @include global.font(16, 24, 0, 700);
                }

                &::before {
                    content: "";
                    position: absolute;
                    width: 9.5px;
                    height: 16.5px;
                    top: 50%;
                    left: 20px;
                    transform: translateY(-50%);
                    background: url(../img/icon-chevron-right02.png) no-repeat center center / contain;
                }
            }
        }
    }
}