@use "../global" as global;

.p-news {
    padding-top: 177px;
    padding-bottom: 160px;
    position: relative;

    @include global.mq(sp) {
        padding-top: 66px;
        padding-bottom: 204px;
    }

    &-bgbox {
        position: absolute;
        top: 591px;
        height: 413px;
        z-index: -2;

        @include global.mq(sp) {
            top: 206px;
            height: 592px;
        }
    }

    &__article {
        background: #FFFFFF;
        box-shadow: 0 3px 12px rgba(0, 0, 0, 0.16);
        padding: 40px;
        margin-top: 85px;
        width: 768px;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;

        @include global.mq(sp) {
            margin-top: 64px;
            padding: 24px 20px 40px 20px;
        }

        &__item {
            padding-top: 20px;
            padding-bottom: 30px;
            border-bottom: #DDDDDD solid 1px;

            @include global.mq(sp) {
                padding-top: 16px;
                padding-bottom: 32px;
            }

            &__context {
                display: flex;
                align-items: center;

                &__category {
                    color: global.$accent-color-red;
                    border: global.$accent-color-red solid 1px;
                    @include global.font(14, 24, 0, 500);
                    padding: 5px 23px 5px 23px;
                    margin-right: auto;

                    @include global.mq(sp) {
                        @include global.font(12, 24, 0, 500);
                        padding: 2px 19px 2px 19px;
                    }
                }

                &__date {
                    color: #888888;
                    @include global.font(14, 24, 0, 500);
                    margin-left: auto;
                }
            }

            &__title {
                margin-top: 14px;
                @include global.font(16, 28, 0, 700);

                @include global.mq(sp) {
                    margin-top: 16px;
                    @include global.font(14, 20, 0, 700);
                }
            }
        }
    }

    &__button {
        position: absolute;
        top: 218px;
        left: 70.5%;

        @include global.mq(tab) {
            top: 190px;
        }

        @include global.mq(sp) {
            position: static;
            margin-top: 35px;
            text-align: right;
        }
    }
}