@use "../global" as global;

.p-service {
    padding-top: 136px;
    padding-bottom: 103px;
    position: relative;

    @include global.mq(sp) {
        padding-top: 60px;
        padding-bottom: 163px;
    }

    &-bgbox {
        position: absolute;
        top: 678px;
        height: 577px;
        z-index: -2;

        @include global.mq(sp) {
            top: 1131px;
            height: 1186px;
        }
    }

    &__title {
        margin-bottom: 36px;
    }

    &__card {
        margin-top: 32px;
        width: calc(100% * 320 / 1100);

        @include global.mq(sp) {
            width: calc(100% - 15px);
            margin-left: 15px;
        }

        &__wrap {
            display: flex;
            justify-content: space-between;

            @include global.mq(sp) {
                display: block;
            }
        }

        &__image {
            position: relative;

            &__number {
                position: absolute;
                width: 32%;
                height: 32%;
                top: 15px;
                right: 0;
                transform: translateY(-50%);
            }

            &__title {
                @include global.font(28, 41, 0, 700);
                color: global.$main-color;
                position: absolute;
                bottom: 7.5%;
                left: -10%;

                @include global.mq(tab) {
                    @include global.font(20, 30, 0, 700);
                }

                @include global.mq(sp) {
                    @include global.font(28, 41, 0, 700);
                    left: -15px;
                }

                p {
                    display: inline-block;
                    background-color: #FFFFFF;
                }

                &__text02 {
                    margin-top: 8px;
                }
            }

        }

        &__text {
            padding-top: 1rem;
            @include global.font(14, 24, 0, 500);

            @include global.mq(sp) {
                padding-top: 15px;
            }
        }
    }

    &__button {
        position: absolute;
        top: 176px;
        left: 70.5%;

        @include global.mq(tab) {
            top: 150px;
        }

        @include global.mq(sp) {
            position: static;
            margin-top: 34px;
            text-align: right;
        }
    }
}

.p-card01 {
    margin-top: 55px;

    @include global.mq(sp) {
        margin-top: 69px;
    }
}

.p-card02 {
    margin-top: 115px;

    @include global.mq(sp) {
        margin-top: 70px;
    }
}

.p-card03 {
    margin-top: 175px;

    @include global.mq(sp) {
        margin-top: 71px;
    }
}