@use "../global" as global;

.u-button--black {
    color: global.$text-color;

    a {
        color: global.$text-color;

        &::after {
            background: global.$text-color;
        }

        &::before {
            background: global.$text-color;
        }

        span::after {
            background: global.$accent-color-yellow;
        }
    }
}