// 変数の定義
$base_color: #082B48;
$base_font_size: 16px;

// mixinの定義
@mixin button() {
    display: block;
    font-size: 24px;
    font-weight: bold;
    color: #FFF;
    background-color: #ec6d64;
    padding: 20px 60px;
    margin: auto;
    border: none;
    border-radius: 4px;
}

// functionの定義
@function activeFontSize($base_size, $plus_size ) {
    @return $base_size +$plus_size;
}

//マップ型変数breakpointsを定義
$breakpoints: (
    //キー　　値
    'sp': 'screen and (max-width: 767px)',
    //767px以下（スマホ）用の表示
    'pc': 'screen and (min-width: 768px)' //768px以上（タブレット・PC）用の表示
    ) !default;

//メディアクエリ用のmixinを定義。デフォ値はsp
@mixin mq($breakpoint: sp) {

    //map-get(マップ型変数, キー)で値を取得
    @media #{map-get($breakpoints, $breakpoint)} {
        //この中をカスタムできる
        @content;
    }
}

@function activeFontSize($base_size, $plus_size ) {
    @return $base_size +$plus_size;
}